.home-categories-container {
    margin: 30px;

}
.categories-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 2rem;

}
.category-card {
    border: 1px solid rgb(240, 236, 236);

}
.category-card img {
    width: 275px;
    height: 355px;
}
.category-card h4 {
    text-transform: capitalize;
    margin-top: 1rem;

}
.category-card:hover {
    box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.2s ease-in;
}
.categories-row h4 {
    margin: 10px 0 15px 0;
    font-weight: 400;
}
/* [1] The container */
.img-hover-zoom {
    height: 360px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.1);
  }